<div class="background-area position-relative overflow-hidden text-center text-light pb-5">
  <div class="row">
    <div class="col-12 p-lg-5">
      <h1 class="display-3">Skills & Technology</h1>
    </div>
  </div>
  <div class="row align-items-center pb-3">
    <div class="col-12">
      <circle-progress *ngFor="let circProgItem of cricProgItems" [percent]="circProgItem.percent"
        [outerStrokeColor]="circProgItem.outerStrokeColor" [subtitle]="circProgItem.subtitle"
        [radius]="circProgItem.radius" [outerStrokeWidth]="circProgItem.outerStrokeWidth"
        [innerStrokeWidth]="circProgItem.innerStrokeWidth" [innerStrokeColor]="circProgItem.innerStrokeColor"
        [animation]="circProgItem.animation" [animationDuration]="circProgItem.animationDuration"
        [subtitleColor]="circProgItem.subtitleColor" [subtitleFontSize]="circProgItem.subtitleFontSize"
        [subtitleFontWeight]="circProgItem.subtitleFontWeight" [titleColor]="circProgItem.titleColor"
        [titleFontSize]="circProgItem.titleFontSize" [titleFontWeight]="circProgItem.titleFontWeight"
        [unitsColor]="circProgItem.unitsColor" [unitsFontSize]="circProgItem.unitsFontSize"
        [unitsFontWeight]="circProgItem.unitsFontWeight" [renderOnClick]="circProgItem.renderOnClick"></circle-progress>
    </div>
  </div>

  <div class="row justify-content-center" *ngFor="let progbarItem of progBarItems">
    <div class="col-md-6 col-11">
      <div class="progresstext">
        {{progbarItem.text}}
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated {{progbarItem.additionalClass}}"
          role="progressbar" attr.aria-valuenow="{{progbarItem.percentvalue}}" aria-valuemin="0" aria-valuemax="100"
          [style.width]="progbarItem.percentvalue + '%'">{{progbarItem.percentvalue}}%</div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 p-lg-5">
      <h1 class="display-3">Certifications</h1>
    </div>
  </div>

  <div class="row justify-content-center mb-5">
    <div class="col-sm-12 col-md-8">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="assets/img/cert/cert_thumb_mongodb.jpg">
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="assets/img/cert/cert_thumb_oraclejava.jpg">
        </div>
      </div>
    </div>
  </div>
</div>