<div class="background-area position-relative overflow-hidden text-center text-light">
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col-auto p-lg-5">
            <h1 class="display-3">Skills & Technology</h1>
        </div>
        <div class="col"></div>
    </div>
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col-auto">
            <circle-progress
            [percent]="90"
            [outerStrokeColor]="'orange'"
            [subtitle]="'Java'"
            [radius]="cmnCircProgProps.radius"
            [outerStrokeWidth]="cmnCircProgProps.outerStrokeWidth"
            [innerStrokeWidth]="cmnCircProgProps.innerStrokeWidth"
            [innerStrokeColor]="cmnCircProgProps.innerStrokeColor"
            [animation]="cmnCircProgProps.animation"
            [animationDuration]="cmnCircProgProps.animationDuration"
            [subtitleColor]="cmnCircProgProps.subtitleColor"
            [subtitleFontSize]="cmnCircProgProps.subtitleFontSize"
            [subtitleFontWeight]="cmnCircProgProps.subtitleFontWeight"
            [titleColor]="cmnCircProgProps.titleColor"
            [titleFontSize]="cmnCircProgProps.titleFontSize"
            [titleFontWeight]="cmnCircProgProps.titleFontWeight"
            [unitsColor]="cmnCircProgProps.unitsColor"
            [unitsFontSize]="cmnCircProgProps.unitsFontSize"
            [unitsFontWeight]="cmnCircProgProps.unitsFontWeight"
            [renderOnClick]="cmnCircProgProps.renderOnClick"
            ></circle-progress>

            <circle-progress
            [percent]="70"
            [outerStrokeColor]="'yellow'"
            [subtitle]="'Angular'"
            [radius]="cmnCircProgProps.radius"
            [outerStrokeWidth]="cmnCircProgProps.outerStrokeWidth"
            [innerStrokeWidth]="cmnCircProgProps.innerStrokeWidth"
            [innerStrokeColor]="cmnCircProgProps.innerStrokeColor"
            [animation]="cmnCircProgProps.animation"
            [animationDuration]="cmnCircProgProps.animationDuration"
            [subtitleColor]="cmnCircProgProps.subtitleColor"
            [subtitleFontSize]="cmnCircProgProps.subtitleFontSize - 5"
            [subtitleFontWeight]="cmnCircProgProps.subtitleFontWeight"
            [titleColor]="cmnCircProgProps.titleColor"
            [titleFontSize]="cmnCircProgProps.titleFontSize"
            [titleFontWeight]="cmnCircProgProps.titleFontWeight"
            [unitsColor]="cmnCircProgProps.unitsColor"
            [unitsFontSize]="cmnCircProgProps.unitsFontSize"
            [unitsFontWeight]="cmnCircProgProps.unitsFontWeight"
            [renderOnClick]="cmnCircProgProps.renderOnClick"
            ></circle-progress>

            <circle-progress
            [percent]="80"
            [outerStrokeColor]="'lightgreen'"
            [subtitle]="'Spring'"
            [radius]="cmnCircProgProps.radius"
            [outerStrokeWidth]="cmnCircProgProps.outerStrokeWidth"
            [innerStrokeWidth]="cmnCircProgProps.innerStrokeWidth"
            [innerStrokeColor]="cmnCircProgProps.innerStrokeColor"
            [animation]="cmnCircProgProps.animation"
            [animationDuration]="cmnCircProgProps.animationDuration"
            [subtitleColor]="cmnCircProgProps.subtitleColor"
            [subtitleFontSize]="cmnCircProgProps.subtitleFontSize"
            [subtitleFontWeight]="cmnCircProgProps.subtitleFontWeight"
            [titleColor]="cmnCircProgProps.titleColor"
            [titleFontSize]="cmnCircProgProps.titleFontSize"
            [titleFontWeight]="cmnCircProgProps.titleFontWeight"
            [unitsColor]="cmnCircProgProps.unitsColor"
            [unitsFontSize]="cmnCircProgProps.unitsFontSize"
            [unitsFontWeight]="cmnCircProgProps.unitsFontWeight"
            [renderOnClick]="cmnCircProgProps.renderOnClick"
            ></circle-progress>


        </div>
        <div class="col"></div>
    </div>
</div>
