

<div class="background-area position-relative overflow-hidden text-center">
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col-auto p-lg-5">
            <h1 class="display-3">Work Experience</h1>
        </div>
        <div class="col"></div>
    </div>
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col-10">
            <div class="card-deck">
                <!-- <div class="card border-dark">
                    <img class="card-img-top" src="assets/logo-alliedtelesis.png" alt="Allied Telesis">
                    <div class="card-body">
                        <h5 class="card-title">Allied Telesis Labs</h5>
                        <p class="card-text">A network infrastructure/telecommunications company.</p>
                    </div>
                </div> -->

                <div class="card border-dark">
                    <img class="card-img-top" src="assets/logo-alliedtelesis.png" alt="Allied Telesis">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">                        
                        </li>
                        <li class="list-group-item">
                            <h5 class="card-title">Allied Telesis Labs</h5>
                            <p class="card-text">Network infrastructure/telecommunications company.</p>
                        </li>
                    </ul>
                </div>

                <!-- <div class="card">
                    <img class="card-img-top" src="assets/logo-accenture.jpg" alt="Accenture">
                    <div class="card-body">
                        <h5 class="card-title">Accenture</h5>
                        <p class="card-text">Multinational professional services company.</p>
                    </div>
                </div> -->

                <div class="card border-dark">
                    <img class="card-img-top" src="assets/logo-accenture.jpg" alt="Allied Telesis">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">                        
                        </li>
                        <li class="list-group-item">
                            <h5 class="card-title">Accenture</h5>
                            <p class="card-text">Multinational professional services company.</p>
                        </li>
                    </ul>
                </div>

                <!-- <div class="card">
                    <img class="card-img-top" src="assets/logo-mimirbox.png" alt="Conway Group">
                    <div class="card-body">
                        <h5 class="card-title">Conway Group</h5>
                        <p class="card-text">Kart racing group of companies.</p>
                    </div>
                </div> -->

                <div class="card border-dark">
                    <img class="card-img-top" src="assets/logo-mimirbox.png" alt="Allied Telesis">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">                        
                        </li>
                        <li class="list-group-item">
                            <h5 class="card-title">Conway Group</h5>
                            <p class="card-text">Kart racing group of companies.</p>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
