.background-area {
    /* background-color: #70C1B3; */
    /* background-color: #B2DBBF; */
    background-color: #E5E5E5;
}


.highlighted-card {
    border-width: 0.5rem;
    border-color: lightgreen;
}

.card {
    cursor: pointer;
}