.background-area {
    background-color: #E5E5E5;
}


.card-hilighter:hover {
    border-width: 0.2rem;
    border-color: lightgreen;
}

.card {
    border-width: 0.2rem;
    cursor: pointer;
}

.modalContentTitleTechnology {
    font-size: 1.3rem;
}

.modalContentTitleProject {
    font-size: 1.5rem;
}