<app-modal-work-experience #workexperiencemodal></app-modal-work-experience>
<div class="background-area position-relative overflow-hidden text-center pb-5">
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col-auto p-lg-5">
            <h1 class="display-3">Work Experience</h1>
        </div>
        <div class="col"></div>
    </div>
    <div class="row px-1">
        <div *ngFor="let companyDetailItem of cardCompanyDetailList"
            (click)="displayModalWorkExperienceByCompany(companyDetailItem)" data-toggle="modal"
            data-target=".modal-work-exp" class="col-md-4 col-sm-12">

            <div class="card card-hilighter">
                <img class="card-img-top" src="{{companyDetailItem.companyLogoImgPath}}">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                    </li>
                    <li class="list-group-item">
                        <h5 class="card-title">{{companyDetailItem.companyName}}</h5>
                        <p class="card-text">{{companyDetailItem.companySummary}}</p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>