
<div class="background-area position-relative overflow-hidden text-center bg-light">
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col-auto p-lg-5">
            <h1 class="display-1">Uriel Engracia</h1>
            <h2 class="display-4">Full Stack Software Developer</h2>
            <img src="assets/img-desktopmobile.png" class="img-fluid my-5 mx-0" alt="Responsive image">
            <h2 class="display-5">Web, Desktop, Mobile Applications</h2>
        </div>
        <div class="col"></div>
    </div>
</div>