<div class="background-area position-relative overflow-hidden text-center pb-5 text-light">
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col-auto p-lg-5">
            <h1 class="display-3">Contact Info</h1>
        </div>
        <div class="col"></div>
    </div>


    <!-- <div class="row align-items-center">
        <div class="col"></div>
        <div class="col-md-8 col-12">
            <div class="card-deck invinsible-card">
                <div class="card">
                    <img class="card-img-top" src="assets/img/logowebsite/logogmail.svg">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                        </li>
                        <li class="list-group-item">
                            <h1 class="card-title">yuri.engracia@gmail.com</h1>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>



    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col-md-8 col-12">
            <div class="card-deck invinsible-card">
                <div class="card">
                    <img class="card-img-top" src="assets/img/logowebsite/logolinkedin.png">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                        </li>
                        <li class="list-group-item">
                            <h1 class="card-title">https://www.linkedin.com/in/urielengracia</h1>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>



    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col-md-8 col-12">
            <div class="card-deck invinsible-card">
                <div class="card">
                    <img class="card-img-top" src="assets/img/logowebsite/logogithub.png">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                        </li>
                        <li class="list-group-item">
                            <h1 class="card-title">https://github.com/Yur13n</h1>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div> -->



    <div class="row align-items-center m-5">
        <div class="col"></div>
        <div class="col-auto">
            <img class="img-responsive roundBorder" src="assets/img/logowebsite/logogmail.svg">
            <h1>yuri.engracia@gmail.com</h1>
        </div>
        <div class="col"></div>
    </div>


    <div class="row align-items-center m-5">
        <div class="col"></div>
        <div class="col-auto">
            <img class="img-responsive roundBorder mb-5 p-4 bg-white" style="max-width: 460px;"
                src="assets/img/logowebsite/logolinkedin.png">
            <h1 class="display-5">https://www.linkedin.com/in/urielengracia</h1>
        </div>
        <div class="col"></div>
    </div>
    <div class="row align-items-center m-5">
        <div class="col"></div>
        <div class="col-auto">
            <img class="img-responsive roundBorder mb-5 p-4 bg-white" src="assets/img/logowebsite/logogithub.png">
            <h1 class="display-5">https://github.com/Yur13n</h1>
        </div>
        <div class="col"></div>
    </div>
</div>