<div class="background-area position-relative overflow-hidden text-center pb-5 text-light">
    <div class="row align-items-center">
        <div class="col"></div>
        <div class="col-auto p-lg-5">
            <h1 class="display-3">Contact Info</h1>
        </div>
        <div class="col"></div>
    </div>

    <div class="row justify-content-center my-5">
        <div class="col-md-4 col-10">
            <img class="img-responsive roundBorder" src="assets/img/logowebsite/logogmail.svg">
            <p class="lead">
                yuri.engracia@gmail.com
            </p>
        </div>
    </div>


    <div class="row justify-content-center my-5">
        <div class="col"></div>
        <div class="col-md-4 align-items-center">
            <img class="img-fluid roundBorder mb-5 p-4 bg-white" style="max-width: 460px;"
                src="assets/img/logowebsite/logolinkedin.png">
            <p class="lead">
                https://www.linkedin.com/in/urielengracia
            </p>
        </div>
        <div class="col"></div>
    </div>
    <div class="row justify-content-center my-5">
        <div class="col"></div>
        <div class="col-auto">
            <img class="img-responsive roundBorder mb-5 p-4 bg-white" src="assets/img/logowebsite/logogithub.png">
            <p class="lead">
                https://github.com/Yur13n
            </p>
        </div>
        <div class="col"></div>
    </div>
</div>