.background-area {
    /* background-color: #70C1B3; */
    background-color: #6247AA;
}

.roundBorder {
    border-radius: 1rem;
}

.resizabletext {
    font-size: 3vw;
    text-align: center !important;
}

.invinsible-card .card-deck, .invinsible-card .card, .invinsible-card .list-group-item {
    border-color: transparent;
    background-color: transparent;
}

.company-logo {
    max-width: 300px;
}

/* .invinsible-card .card{
    border-color: transparent;
    background-color: transparent;
}

.invinsible-card .list-group-item{
    border-color: transparent;
    background-color: transparent;
} */